# Archivo de ejemplo para variables de entorno.

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Contraseña
DB_NAME=Nombrebasededatos
JWT_SECRET=tu_clave_secreta_super_segura
JWT_EXPIRES_IN=8h


# Copia y pega ese ejemplo dentro de .env y rellena con datos reales
