<aside class="sidebar">
    <div class="sidebar-header">
        <div class="logo">VZ</div>
        <h2>VEZZI</h2>
        <span>Tienda Local</span>
    </div>

    <div class="menu-principal">
        <nav>
            <p>MENÚ PRINCIPAL</p>
            <ul>
                <li routerLink="/dashboard" style="cursor: pointer;">
                    <lucide-icon name="layout-dashboard" size="17"></lucide-icon>Dashboard
                </li>
                <li routerLink="/productos" style="cursor: pointer;">
                    <lucide-icon name="package" size="17"></lucide-icon>Productos
                </li>
                <li routerLink="/clientes" style="cursor: pointer;">
                    <lucide-icon name="users" size="17"></lucide-icon>Clientes
                </li>
                <li routerLink="/ventas" style="cursor: pointer;">
                    <lucide-icon name="shopping-cart" size="17"></lucide-icon>Ventas
                </li>
                <li routerLink="/nueva_venta" style="cursor: pointer;">
                    <lucide-icon name="dollar-sign" size="17"></lucide-icon>Nueva Venta
                </li>
            </ul>
            <p style="margin-top: 20px;">ADMINISTRACIÓN</p>
            <ul>
                <li routerLink="/categorias" style="cursor: pointer;">
                    <lucide-icon name="tag" size="17"></lucide-icon>Categorías
                </li>
                <li routerLink="/usuarios" style="cursor: pointer;">
                    <lucide-icon name="user-check" size="17"></lucide-icon>Usuarios
                </li>
                <li routerLink="/roles" style="cursor: pointer;">
                    <lucide-icon name="shield" size="17"></lucide-icon>Roles
                </li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <div class="icono-admin">A</div>
            <div class="content-s-fooder">
                <p>Administrador</p>
                <lucide-icon name="shield-check" size="10" color="#3B82F6" style="margin-left: 10px;"></lucide-icon>
                <span>Admin</span>
                <a href=""><lucide-icon name="log-out" size="15" color="#657185" class="log-out"></lucide-icon></a>
            </div>
        </div>
    </div>

</aside>