<aside class="sidebar">
    <div class="sidebar-header">
        <div class="logi">VZ</div>
        <h2>VEZZI</h2>
        <span>Tienda Local</span>
    </div>

    <div class="menu-principal">
        <nav>
            <p>MENÚ PRINCIPAL</p>
            <ul>
                <li routerLink="/dashboard" style="cursor: pointer;">
                    <lucide-icon name="layout-dashboard"></lucide-icon>Dashboard
                </li>
                <li routerLink="/productos" style="cursor: pointer;">
                    <lucide-icon name="package"></lucide-icon>Productos
                </li>
                <li routerLink="/clientes" style="cursor: pointer;">
                    <lucide-icon name="users"></lucide-icon>Clientes
                </li>
                <li routerLink="/ventas" style="cursor: pointer;">
                    <lucide-icon name="shopping-cart"></lucide-icon>Ventas
                </li>
                <li routerLink="/nueva_venta" style="cursor: pointer;">
                    <lucide-icon name="dollar-sign"></lucide-icon>Nueva Venta
                </li>
            </ul>
            <p>ADMINISTRACIÓN</p>
            <ul>
                <li routerLink="/categorias" style="cursor: pointer;">
                    <lucide-icon name="tag"></lucide-icon>Categorías
                </li>
                <li routerLink="/usuarios" style="cursor: pointer;">
                    <lucide-icon name="user-check"></lucide-icon>Usuarios
                </li>
                <li routerLink="/roles" style="cursor: pointer;">
                    <lucide-icon name="shield"></lucide-icon>Roles
                </li>
            </ul>
        </nav>
        <div sidebar-footer>
            <div class="icono-admin">A</div>
            <div class="content-s-fooder">
                <p>Administrador</p>
                <span>Admin</span>
                <lucide-icon name="log-out"></lucide-icon>
            </div>
        </div>
    </div>

</aside>